html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

* {
  font-size: 62.5%; /* 1rem == 10px */
  box-sizing: border-box;
}

@font-face {
  font-family: "goodfish_rg";
  src: url("../GoodfishFont/goodfish_regular_macroman/goodfish_rg-webfont.woff2")
      format("woff2"),
    url("../GoodfishFont/goodfish_regular_macroman/goodfish_rg-webfont.woff")
      format("woff");
  font-weight: normal;
  font-style: normal;
}

html {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1rem;
  color: #311e18;
}

.red {
  color: #f31200;
}

.bold {
  font-weight: 700;
}

.go_home {
  margin: 0rem 0 4rem 0;
  padding-top: 1rem;
  padding-bottom: 1rem;
  width: 60%;
  align-items: center;
  justify-content: flex-start;
  position: fixed;
  background-color: white;
}

.header_link a {
  font-family: "goodfish_rg", sans-serif;
  font-size: 1.6rem;
  color: #f31200;
  text-decoration: none;
  font-weight: 400;
}

.main-flex-container {
  display: flex;
  width: 60%;
  height: auto;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: 6rem;
  margin-bottom: 8rem;
}

.head-images {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
}

.head-images img {
  width: 100%;
  max-width: 100rem;
  height: auto;
  border: 1px solid lightgray;
}

.head-title {
  width: 100%;
  margin-top: 6rem;
}

.head-title h2 {
  width: 100%;
  text-align: center;
  font-family: "goodfish_rg", sans-serif;
  font-size: 6rem;
  line-height: 7.6rem;
}

.row-item {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 10rem;
}

.row-title {
  width: 49%;
  height: auto;
  font-family: "goodfish_rg", sans-serif;
  font-size: 3rem;
  color: #311e18;
}

.row-info-50 {
  width: 49%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.row-text {
  margin-top: 2rem;
  font-family: "Open sans", sans-serif;
  font-size: 1.4rem;
}

.row-text:first-child {
  margin-top: 0;
}

.row-info-50 img {
  max-width: 12.4rem;
  max-height: 14.8rem;
  margin-top: 6rem;
  align-self: center;
  justify-content: center;
}

.row-info-100 {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.row-images {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  margin-top: 6rem;
}

.converging .row-images {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  margin-top: 6rem;
}

.converging .mobile {
  margin-top: 2.4rem;
}

.row-images img {
  width: 33%;
  height: auto;
  border: 1px solid lightgray;
}

.full-width img {
  width: 100%;
  height: auto;
  border: 1px solid lightgray;
}

.row-info-100 {
  width: 100%;
  height: auto;
  align-items: flex-start;
  justify-content: flex-end;
  margin-top: 2.4rem;
  font-family: "Open sans", sans-serif;
  font-size: 1.4rem;
  line-height: 2.2rem;
}

.caption {
  width: 50%;
  align-self: flex-end;
  color: gray;
}

.want-more {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: 10rem;
}

.want-more .row-title {
  width: 100%;
  height: auto;
}

.projects {
  margin-top: 4rem;
  display: flex;
  width: 60%;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-self: center;
}

.projects .hearth_container {
  margin-top: 4rem;
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.projects .hearth_container .hearth_header {
  width: 100%;
  font-family: "goodfish_rg", serif;
  font-size: 2.6rem;
  color: #311e18;
}

.projects .hearth_container .hearth_text {
  margin-top: 0.5rem;
  width: 100%;
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
  font-weight: normal;
  line-height: 1.75rem;
  color: #7d7d7d;
}

.projects .hearth_container .project_link_container {
  margin-top: 2rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  flex-wrap: nowrap;
}

.projects .hearth_container .project_link_container a {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: nowrap;
  width: 100%;
  text-decoration: none;
  color: #311e18;
}

.projects .hearth_container .project_link_container .project_link_text {
  width: 100%;
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
  font-weight: bold;
}

.projects .hearth_container .project_link_container img {
  width: 24px;
  vertical-align: middle;
}

.projects .schematic_container {
  margin-top: 4rem;
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.projects .schematic_container .schematic_header {
  width: 100%;
  font-family: "goodfish_rg", serif;
  font-size: 2.6rem;
  color: #311e18;
}

.projects .schematic_container .schematic_text {
  margin-top: 0.5rem;
  width: 100%;
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
  font-weight: normal;
  line-height: 1.75rem;
  color: #7d7d7d;
}

.projects .schematic_container .project_link_container {
  margin-top: 2rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  flex-wrap: nowrap;
}

.projects .schematic_container .project_link_container a {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: nowrap;
  width: 100%;
  text-decoration: none;
  color: #311e18;
}

.projects .schematic_container .project_link_container .project_link_text {
  width: 100%;
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
  font-weight: bold;
}

.projects .schematic_container .project_link_container img {
  width: 24px;
  vertical-align: middle;
}

.projects .name_container {
  margin-top: 4rem;
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.projects .name_container .name_header {
  width: 100%;
  font-family: "goodfish_rg", serif;
  font-size: 2.6rem;
  color: #311e18;
}

.projects .name_container .project_link_container {
  margin-top: 2rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  flex-wrap: nowrap;
}

.projects .name_container .project_link_container a {
  margin-top: 2rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: nowrap;
  width: 100%;
  text-decoration: none;
  color: #311e18;
}

.projects .name_container .project_link_container .project_link_text {
  width: 100%;
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
  font-weight: bold;
}

.projects .name_container .project_link_container img {
  width: 24px;
  vertical-align: middle;
}
