html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

* {
  font-size: 62.5%; /* 1rem == 10px */
  box-sizing: border-box;
}

@font-face {
  font-family: "goodfish_rg";
  src: url("../GoodfishFont/goodfish_regular_macroman/goodfish_rg-webfont.woff2")
      format("woff2"),
    url("../GoodfishFont/goodfish_regular_macroman/goodfish_rg-webfont.woff")
      format("woff");
  font-weight: normal;
  font-style: normal;
}

html {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1rem;
}

.red {
  color: #b81104;
}

.bold {
  font-weight: 700;
}

.go_home {
  margin: 0rem 0 4rem 0;
  padding-top: 1rem;
  padding-bottom: 1rem;
  width: 80%;
  align-items: center;
  justify-content: flex-start;
  position: fixed;
  background-color: white;
}

.header_link a {
  font-family: "goodfish_rg", sans-serif;
  font-size: 1.6rem;
  color: #b81104;
  text-decoration: none;
  font-weight: 400;
}

.navbar {
  display: flex;
  width: 80%;
  margin-top: 3rem;
  padding-top: 3rem;
  padding-bottom: 3rem;
  align-items: flex-start;
  justify-content: center;
  flex-direction: row;
  position: fixed;
  background-color: white;
}

.nav-ul {
  display: flex;
  width: 100%;
  list-style: none;
  justify-content: space-between;
}

.nav-ul .nav-line {
  font-family: "goodfish_rg";
  font-size: 1.6rem;
}

.nav-ul .nav-list-item a {
  text-decoration: none;
  color: #7d7d7d;
  font-family: "goodfish_rg", sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
}

#cheesecake a {
  color: #b81104;
}

.flex-container {
  display: flex;
  width: 80%;
  margin-top: 12rem;
  flex-direction: column;
  justify-content: center;
  color: #311e18;
}

.first-para {
  width: 100%;
  font-family: "Open Sans", sans-serif;
  font-size: 1.4rem;
  line-height: 2.2rem;
  color: #311e18;
}

.banner-pic > img {
  width: 100%;
  height: 38.4rem;
  margin-top: 4rem;
  object-fit: cover;
}

.banner-pic .caption {
  text-align: center;
  font-family: "Open sans", sans-serif;
  font-size: 1rem;
}

.cheesecakes-container {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 8rem;
}

.cheesecakes-col-1 {
  width: 48%;
  height: auto;
}

.col-1-pics > img {
  margin-top: 8rem;
  width: 100%;
  height: 29.2rem;
  object-fit: cover;
}

.cheesecakes-col-1 .caption {
  margin-top: 0.8rem;
  text-align: start;
  font-family: "Open sans", sans-serif;
  font-size: 1rem;
}

.cheesecakes-col-2 {
  width: 50%;
  height: auto;
}

.small-header {
  margin-top: 8rem;
  text-align: start;
  font-family: "goodfish_rg", sans-serif;
  font-size: 1.5rem;
  line-height: 2rem;
}

.title {
  margin-top: 2rem;
  font-style: italic;
  font-family: "Open sans", sans-serif;
  font-size: 1.15rem;
  line-height: 1.8rem;
}

.cheesecakes-col-2 ul {
  list-style: none;
  columns: 2;
}

.cheesecakes-col-2 li {
  font-style: normal;
  font-family: "Open sans", sans-serif;
  font-size: 1.15rem;
  line-height: 2rem;
}

.cheesecakes-col-2 .most-requested li:nth-child(-n + 5),
.cheesecakes-col-2 .in-the-works li:nth-child(-n + 5) {
  margin-right: 0.5rem;
}
.cheesecakes-col-2 .other-flavors li:nth-child(-n + 26) {
  margin-right: 0.5rem;
}

img {
  border-radius: 5px;
}
