html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

* {
  font-size: 62.5%; /* 1rem == 10px */
  box-sizing: border-box;
}

@font-face {
  font-family: "goodfish_rg";
  src: url("../GoodfishFont/goodfish_regular_macroman/goodfish_rg-webfont.woff2")
      format("woff2"),
    url("../GoodfishFont/goodfish_regular_macroman/goodfish_rg-webfont.woff")
      format("woff");
  font-weight: normal;
  font-style: normal;
}

html {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1rem;
}

.red {
  color: #f31200;
}

.bold {
  font-weight: 700;
}

.go_home {
  margin: 0rem 0 4rem 0;
  padding-top: 1rem;
  padding-bottom: 1rem;
  width: 60%;
  align-items: center;
  justify-content: flex-start;
  position: fixed;
  background-color: white;
}

.header_link a {
  font-family: "goodfish_rg", sans-serif;
  font-size: 1.6rem;
  color: #f31200;
  text-decoration: none;
  font-weight: 400;
}

.navbar {
  display: flex;
  width: 60%;
  margin-top: 3rem;
  padding-top: 3rem;
  padding-bottom: 3rem;
  align-items: flex-start;
  justify-content: center;
  flex-direction: row;
  position: fixed;
  background-color: white;
}

.nav-ul {
  display: flex;
  width: 100%;
  list-style: none;
  justify-content: space-between;
}

.nav-ul .nav-line {
  font-family: "goodfish_rg";
  font-size: 1.6rem;
}

.nav-ul .nav-list-item a {
  text-decoration: none;
  color: #7d7d7d;
  font-family: "goodfish_rg", sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
}

#digital_art a {
  color: #f31200;
}

.main-flex-container {
  margin: 12rem 0;
  width: 60%;
  height: auto;
  font-size: 1.4rem;
  line-height: 2.2rem;
  color: #311e18;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.flex-row {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 4rem;
}

.flex-row-first {
  margin-top: 0rem;
}

.flex-row-top-text {
  font-family: "Open Sans", sans-serif;
}

.flex-row-first-col {
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.flex-row-header {
  width: 100%;
  height: auto;
  font-family: "goodfish_rg", sans-serif;
  font-size: 1.8rem;
}

.flex-row-text {
  width: 100%;
  height: auto;
  padding-top: 4rem;
  font-family: "Open sans", sans-serif;
  font-size: 1.2rem;
}

.flex-row-pic {
  width: 40%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.flex-row-pic img {
  width: 32rem;
  height: auto;
  border-radius: 10px;
  max-width: 320px;
  max-height: 432px;
}

.flex-row-second-col .flex-row-pic {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
}

.flex-row-second-col .flex-row-pic img {
  width: 32rem;
  height: auto;
  border-radius: 10px;
  max-width: 320px;
  max-height: 230px;
}

.club-m-1,
.tuscon-jaycees-1 {
  margin-bottom: 1rem;
}

.flex-row-pic .blizzard {
  max-height: 230px;
}
